<template lang="pug">
  #app
    form(@submit.prevent="submit")
      table.content(border="0", cellpadding="0", cellspacing="0", align="center")
        tr(style="display: none; font-size: 0; opacity: 0; height: 0")
          td
            p Shit just got real! You have been summoned to the intimate BYOB wedding celebration of Madan & Nikki!
              | #[br]We hope to see you there!#[br]
              span.name - Madan & Nikki -

        tr
          td.blank.center
            img(src="./assets/01.png", width="100%")
        tr
          td.color
            h1.ctrl.center {{ username || 'Loading...' }}
        //- tr
          td.blank.center
            img(src="./assets/02.png", width="100%")
        tr
          td
            #ctas
              h3 We've put a ring on it, now let's drink to it!
              h3 Join us!
              a.btn.yes(@click="status = 'yes'", :class="{selected: status === 'yes'}") Yes
              a.btn.no(@click="status = 'no'", :class="{selected: status === 'no'}") No
        tr(v-if="status === 'yes'")
          td
            h3 Awesome!#[br]Please fill in your name(s) and choose your main course(s):
            .guest(v-for="(guest, index) in pax", v-if="index === 0")
              input.name(type="text", placeholder="Your Name", v-model.trim="guest.name")
              .meal
                label.meat.c(:class="{selected: guest.meat === 'chicken'}")
                  img(src="./assets/c.png")
                  input(type="radio", value="chicken", v-model="guest.meat")
                label.meat.f(:class="{selected: guest.meat === 'fish'}")
                  img(src="./assets/f.png")
                  input(type="radio", value="fish", v-model="guest.meat")
                label.meat.l(:class="{selected: guest.meat === 'lamb'}")
                  img(src="./assets/l.png")
                  input(type="radio", value="lamb", v-model="guest.meat")
                label.meat.v(:class="{selected: guest.meat === 'vege'}")
                  img(src="./assets/v.png")
                  input(type="radio", value="vege", v-model="guest.meat")
              p(v-if="missingName") Opps, your name please!
            .guest(v-else)
              input.name(type="text", placeholder="Guest Name", v-model.trim="guest.name")
              .meal
                label.meat.c(:class="{selected: guest.meat === 'chicken'}")
                  img(src="./assets/c.png")
                  input(type="radio", value="chicken", v-model="guest.meat")
                label.meat.f(:class="{selected: guest.meat === 'fish'}")
                  img(src="./assets/f.png")
                  input(type="radio", value="fish", v-model="guest.meat")
                label.meat.l(:class="{selected: guest.meat === 'lamb'}")
                  img(src="./assets/l.png")
                  input(type="radio", value="lamb", v-model="guest.meat")
                label.meat.v(:class="{selected: guest.meat === 'vege'}")
                  img(src="./assets/v.png")
                  input(type="radio", value="vege", v-model="guest.meat")

        tr(v-else-if="status === 'no'")
          td
            h3 That's okay :)
        tr(v-if="status !== ''")
          td
            //- button(:disabled="!name") Submit RSVP
            button Submit RSVP
        tr(height="30")
        tr
          td.blank.center
            img(src="./assets/05.png", width="100%")
</template>

<script>
if (!window.location.search.split('?')[1]) {
  window.location = 'http://157.230.38.2/faq.html'
}

export default {
  name: 'app',
  data () {
    return {
      username: '',
      email: '',
      pax: '',
      status:  '',
      jwt: '',
      missingName: false
    }
  },

  async created () {
    this.jwt = window.location.search.split('?')[1]
    // const response = await window.fetch('/verify/' + this.jwt)
    const response = await window.fetch('/api/verify/' + this.jwt)
    const data = await response.json()

    if (data.submitted) {
      window.location = 'http://157.230.38.2/faq.html'
    } else {
      this.username = data.name
      this.email = data.email
      this.pax = data.pax
    }
  },

  methods: {
    async submit () {
      const guests = []

      if (this.status === 'yes') {
        for (let i = 0; i < this.pax.length; i++) {
          const guest = this.pax[i]

          if (i === 0 && !guest.name) {
            this.missingName = true
            return false
          } else if (i === 0 && guest.name) {
            this.missingName = false
          }

          if (guest.name) {
            guests.push({
              name: guest.name,
              meat: guest.meat
            })
          }
        }
      }

      const rsvp = {
        jwt: this.jwt,
        email: this.email,
        status: this.status,
        guests
      }

      console.log(rsvp)

      // const response = await window.fetch('/submit/', {
      const response = await window.fetch('/api/submit/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(rsvp)
      })

      const result = await response.json()
      // window.location = window.location.origin + result.redirect
      window.location = window.location.origin + result.redirect
    }
  }
}
</script>

<style lang="sass" scoped>
  @media only screen and (max-width: 600px)
    table
      width: 100% !important

  *
    box-sizing: border-box
    font-family: 'Nunito', 'Arial', sans-serif

  table
    width: 600px
    // background-color: #480e07
    background-color: #4a100e
    font-family: avenir, Arial, Helvetica, sans-serif
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .3)
    border-radius: 5px
    font-size: 14px
    color: #fffaf0

  .blank
    font-size: 0

  .center
    text-align: center

  .ctrl
    display: inline-block
    vertical-align: middle

  h1.ctrl
    display: block
    font-size: 26px
    margin: 15px 0

  #app
    max-width: 600px
    display: block
    margin: 0 auto
    text-align: center
    position: relative

  #ctas
    display: block
    text-align: center
    margin: 0 auto

    a.btn
      width: 100px
      color: white
      padding: 10px 20px
      cursor: pointer
      display: inline-block
      font-weight: bold

      & + a.btn
        margin-left: 10px

    a.btn
      background-color: white
      color: #363636
      transition: background 0.2s

    a.btn.yes.selected
      background-color: #4caf50
      transition: background 0.2s

    a.btn.no.selected
      background-color: #e43c38
      transition: background 0.2s

    a.btn.selected
      color: white

    a.btn.yes:hover
      background-color: #b3e4b5
      transition: background 0.2s

    a.btn.no:hover
      background-color: #e2a4a3
      transition: background 0.2s

  button
    margin-top: 20px
    width: 180px
    height: 50px
    font-size: 18px
    font-family: inherit
    background-color: #6e1a10
    border: 2px solid white
    color: white
    cursor: pointer
    transition: background 0.2s

    &:hover, &:active
      background-color: #671d13
      transition: background 0.2s

  input:focus
    outline: none

  input[type="radio"]
    display: none

  input[type="text"]
    font-family: inherit
    height: 40px
    width: 140px
    margin-right: 5px
    display: inline-block
    vertical-align: middle
    border: 0
    border-bottom: 1px solid #363636
    padding-left: 5px
    font-size: 16px
    vertical-align: middle

  .meal
    display: inline-block
    vertical-align: middle
    font-size: 0

    label.meat
      width: 25%
      display: inline-block
      border-radius: 50%
      cursor: pointer
      background-color: #6e1a10
      transition: background 0.2s

      img
        display: block
        margin: 0 auto
        height: 40px

  td.color
    background-color: #480e07

  .guest
    margin-top: 10px

  label.selected
    transition: background 0.2s

  label.meat.c.selected
    background-color: #ff9455

  label.meat.f.selected
    background-color: #ee5451

  label.meat.l.selected
    background-color: #a26464

  label.meat.v.selected
    background-color: #8ec066
</style>
