*
  box-sizing: border-box

body
  font-family: sans-serif
  margin: 0
  padding: 0

#app
  width: 600px
  display: block
  margin: 0 auto
  text-align: center

  a.btn
    width: 100px
    background-color: #363636
    color: white
    padding: 10px 20px

    & + a.btn
      margin-left: 10px

#faq
  margin-top: 50px
