doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title mad4nik
    link(rel="stylesheet", type="text/css", href="assets/index.css")
    script(src="https://cdn.jsdelivr.net/npm/vue")
  body
    #app
      h2 Lorem Ipsum is overrated!
      p You have been summoned
      a.btn.yes() Yes
      a.btn.no() No

      p {{ message }}

      #faq
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    script(src="index.js")
