html
  head
    title mad4nik
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")

    style(type="text/css").
      @media only screen and (max-width: 600px) {
        table.content {
          width: 100% !important;
        }
      }

      body {
        margin: 0;
      }

      table.content {
        width: 600px;
        background-color: #480e07;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .3);
        border-radius: 5px;
        font-size: 14px;
        color: #fffaf0;
      }

      .blank {
        font-size: 0;
      }

      .center {
        text-align: center;
      }

      .ctrl {
        display: inline-block;
        vertical-align: middle;
      }

      h1.ctrl {
        display: block;
        font-size: 26px;
        margin: 15px 0;
      }

  body
    table.content(border="0", cellpadding="0", cellspacing="0", align="center")
      tr(style="display: none; font-size: 0; opacity: 0; height: 0")
        td
          p Shit just got real! You have been summoned to the intimate BYOB wedding celebration of Madan & Nikki!
      tr
        td.blank.center
          img(src="http://157.230.38.2/dist/edm-01.png", width="100%")
      tr
        td.blank
          h1.ctrl.center $$USERNAME$$
      tr
        td.blank.center
          img(src="http://157.230.38.2/dist/edm-05_1.png", width="100%")
      tr
        td.blank.center
          img.ori(src="http://157.230.38.2/dist/edm-06.png", width="33.333%")
          a(href="http://157.230.38.2/?$$JWT$$")
            img.ori(src="http://157.230.38.2/dist/edm-07.png", width="33.333%")
          img.ori(src="http://157.230.38.2/dist/edm-08.png", width="33.333%")
      tr
        td.blank.center
          img(src="http://157.230.38.2/dist/edm-09.png", width="100%")

